#home-page{
    padding-left: 1em;
    padding-right: 1em;

    padding-bottom: 3em;


    .section-title.area-title{
        // font-size: 0.8rem;
    }

    .area-section{
        min-height: 50vh;
    }

}
