#home-page{
    padding-left: 1em;
    padding-right: 1em;
    .section{
        .section-title{
            margin-top: 1em;
            // font-size: 1.1rem;
            font-weight: 600;
        }

        > .section-child-full{
            margin-left: -1em;
            width: calc(100% + 2em);
        //     position: relative;

        //     > .section-child-full-inner{

        //         position: absolute;
        //         margin-left: -1em;
        //         overflow: hidden;
        //         max-width: 100%;
    
        //     }

        //     // margin-right: -1em;
        }
    }

}
