@import '../colors.scss';

.area-rules{
    padding-bottom: 3em;

    .rule-set{
        border-bottom-style: dashed;
        border-bottom-width: 1px;
        border-bottom-color: $gray-500;
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
    }

    .rule-set:last-child{
        border-bottom-style: none;
    }

    .rule-main-ctr{

        margin-top: 0.5em;
        padding-top: 0.5em;
        border-top-style: dashed;
        border-top-width: 1px;
        border-top-color: $gray-500;

        &:first-child{
            border-top-style: solid;
        }
                
        // margin-top: 0.5em;

        .rule-main-ctr-header{
            display: flex;
            align-items: center;
            > .rule-main-ico{
                display: flex;
                align-items: center;
                $ico-size: 35px;
                max-width: $ico-size;
                max-height: $ico-size;
                min-width: $ico-size;
                min-height: $ico-size;
                > img{
                    max-width: 100%;
                    max-height: 100%;
                    width: 100%;
                    height: 100%;
                }
            }
            > .rule-main-title{
                font-weight: bold;
                font-size: 0.8rem;
            }
        }

        &.rule-main-state{
            .rule-main-ctr-header{
                > .rule-main-ico{
                    // padding: 5px;
                }
            }
        }

        .rule-main-ctr-body{
            padding-top: 0.5em;
            // padding-bottom: 0.5em;
            // margin-bottom: 0.5em;
        }
    }

    .annotations{
        font-size: 0.8rem;
        .annotation{
            // margin: 10px;
            padding: 0.5em;
            border-radius: 0.25em;

            &.warning{
                background-color: $warning;
            }
            &.info{
                background-color: $info;
            }
        }

    }

    .no-ruleset{
        font-style: italic;
        font-size: 0.9rem;
        text-align: center;
    }

    .rule-set-references{
        padding-top: 1.5em;
        font-size: 0.8rem;
        .references-title{
            text-transform: uppercase;
            // text-decoration: dashed;
            // font-weight: bold;
            color: $gray-700;
            // padding-bottom: 0.25em;
            margin-bottom: 0.5em;
        }
        .ref-link{
            display: block;
            margin-bottom: 0.75em;
            padding-left: 0.25em;
            color: darken($color: $primary, $amount: 30%);
            >span{
                font-style: italic;
            }
            >b{
                text-decoration: underline;
            }
        }
    }

    .rule-set-banner{
        display: flex;
        border-color: $primary;
        border-style: solid;
        border-width: 1px;
        // color: white;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: 0.8rem;
        margin-bottom: 0.5em;
        border-radius: 0.5em;
        align-items: center;
        .rule-set-banner-ico{
            max-height: 30px;
            max-width: 30px;
            min-height: 30px;
            min-width: 30px;
            padding: 5px;
            > img{
                max-height: 100%;
                max-width: 100%;
            }
        }

        .rule-set-banner-content{
            .date-value{
                font-weight: bold;
            }
            .incidence{
                font-weight: bold;
                color: $incidence;
            }
        }
    }

    .rule-item{
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        
        // margin-left: 0.25em;

        .rule-ico{
            box-sizing: border-box;

            align-items: center;
            display: flex;
            justify-content: center;

            // $ico-size-rule: 20px;
            // padding: 0px 10px 0px 10px;
            max-width: 35px;
            max-height: 20px;
            min-width: 35px;
            min-height: 20px;
            transform: scale(1.3);
            > img{
                max-width: 25px;
                max-height: 25px;
                width: 20px;
                height: 20px;
            }            
        }
        .rule-md{
            > p{
                margin: 0;
            }
        }
    }

    .no-known-rules{
        margin-top: 1em;
        font-size: 0.8rem;
        > a{
            color: $primary;
            font-weight: bold;
            font-size: 1rem;
        }
    }

}