@import "../colors.scss";

.collapsed-container{
  font-size: 0.7rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-style: solid;
  border-width: 1px;
  border-color: #adb5bd;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 0.5em;

  cursor: pointer;

  >span{
    margin-left: 1.5em;
  }

  > img{
    max-height: 20px;
    margin-right: 1.5em;

  }


}
.expanded-container{
  .charts-btns{
    display: flex;
    button{
      
      margin-top: 0.5em;
      margin-left: 1em;
      width: 2.5em;
      height: 2.5em;

      background-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-color: $gray-500;     
      
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}