
  .h-scroll-cnt{
    display: flex;

    max-width: 100%;
    overflow-x: scroll;
    overflow-y:hidden;

    scroll-behavior: smooth;

    -webkit-overflow-scrolling:scroll;

    .h-scroll-cnt-inner{
        display: flex;
        padding-left: 1em;
        padding-right: 1em;

        .scroll-item{
          margin: 0.5em 0em 1.5em 0.5em;    
          &:first-child{
              margin-left: 0em;
          }
          &:last-child{
              margin-right: 0em;
          }              
        }
    }
  }