@import "../colors.scss";

.filter-btn.all-areas-btn{
    display: flex;
    align-items: center;
    flex-direction: row;
    .header-ctr{
        flex-direction: column;

        .ico-ctr{
            margin: 0;

            width: 40px;
            height: 40px;
        }
        .title-ctr{
            font-style: italic;
            color: $gray-600;

            .name{
                font-size: 1rem;
            }
        }
    }
}